<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <script type="text/javascript" th:src="@{/js/script.js}"/>
    <title>All films</title>
</head>
<body onload="getRandomWord()">

<p id="word"></p>
<input id="answer" type="text"/> <br/>
<button id="checkButton" type="button" onclick="checkAnswer()">Проверить</button><br/>
<button id="nextButton" type="button" onclick="getRandomWord()">Next</button>
<p id="errorField"></p>
<!--<table>
    <thead>

    </thead>
    <tbody>
        <tr th:each="wordpair :${workPairs}">
            <td th:text="${wordpair.getWordENG().getName()}"></td>
            <td th:text="${wordpair.getWordRUS().getName()}"></td>
        </tr>
    </tbody>
</table>-->
</body>
</html>